@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


html, body, * {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 20;
  border-bottom: 1px solid lightgray;
  /* background: #000000; */
  /* color: #ffffff; */
}

.navbar .container, .footer .container {
  padding: 1rem 0;
  border: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 20;
  border-top: 1px solid lightgray;
}

.fullscreen {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer__menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__menus .footer__menus-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 11pt;
}

.footer__menus-item > svg {
  width: 2rem;
}

.container__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 1.5rem;
  box-sizing: border-box;
}

.navbar__content {
  text-align: center;
}

.form {
  width: 100%;
}

.form__group-control {
  width: 100%;
  box-sizing: border-box;
  padding: .5rem .2rem;
  margin: .3rem 0;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid lightgray;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}

